.Rproj.user
.DS_Store
.Rhistory
/.quarto/
/_*.local
/.venv/
/.condaenv/
*_cache/
/env/
/_site/
/_site-workbench/
/_site-dailies/
/.venv/
/.luarc.json

**/*.quarto_ipynb
__pycache__/

# Local Netlify folder
.netlify
