```{=html}
<div class="custom-card-grid-3-col">
  <% for (const item of items) { %>
    <div class="custom-card">
      <div class="custom-card-icon-container">
        <div class="custom-card-icon">
          <i class="<%= item.icon %>"></i>
        </div>
      </div>
      
      <h3 class="custom-card-title">
        <%= item.title %>
      </h3>
      
      <p class="custom-card-description">
        <%= item.description %>
      </p>
      
      <% if (item.link && item.link !== "#") { %>
        <a href="<%= item.link %>" class="custom-card-link">
          Learn More
        </a>
      <% } %>
    </div>  
  <% } %>
</div>
```