on: pull_request

name: Lint

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Check URLs in Quarto files
        uses: urlstechie/urlchecker-action@master
        with:
          file_types: .qmd
          exclude_patterns: https://cdn.posit.co/positron/prereleases/,https://positron.posit.co/images/,https://github.com/posit-dev/positron/issues
