on: pull_request

name: Vale Lint

jobs:
  vale:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4 

      - name: Lint Quarto files with vale
        uses: errata-ai/vale-action@reviewdog
        with:
          files: '*.qmd'
          fail_on_error: true
          filter_mode: nofilter
          token: ${{secrets.GITHUB_TOKEN}}